

.card-footer-badge {
  font-size: 1rem;
}

.movie-description:hover > p {
  color:white;
}

.movie-description:hover {
  background: black;
  opacity: 0.75;
}

.movie-description {
  color: transparent;
}

